{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block app_block %}
    <h1> Edytuj materiał </h1>
    <p>Username: {{ app.user.username }}</p>

{% endblock %}
